---
http_interactions:
- request:
    method: get
    uri: http://webservice.oca.com.ar/oep_tracking/Oep_Track.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"#Oca_Express_Pak\"
        xmlns:s1=\"#Oca_Express_Pak/AbstractTypes\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"#Oca_Express_Pak\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:documentation xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Servicios
        Web Públicos de OCA Express Pak</wsdl:documentation>\r\n  <wsdl:types>\r\n
        \   <s:schema elementFormDefault=\"qualified\" targetNamespace=\"#Oca_Express_Pak\">\r\n
        \     <s:element name=\"List_Envios\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"CUIT\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"FechaDesde\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"FechaHasta\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"List_EnviosResponse\">\r\n        <s:complexType>\r\n
        [...]
- request:
    method: post
    uri: http://webservice.oca.com.ar/oep_tracking/Oep_Track.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="#Oca_Express_Pak"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="#Oca_Express_Pak/AbstractTypes"><env:Body><tns:GetHtmlDeEtiquetasPorOrdenOrNumeroEnvio><tns:idOrdenRetiro>21132466</tns:idOrdenRetiro><tns:nroEnvio
        xsi:nil="true"/></tns:GetHtmlDeEtiquetasPorOrdenOrNumeroEnvio></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"#Oca_Express_Pak/GetHtmlDeEtiquetasPorOrdenOrNumeroEnvio"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioResponse
        xmlns=\"#Oca_Express_Pak\"><GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioResult>&lt;!DOCTYPE
        html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'&gt;&lt;html
        xmlns='http://www.w3.org/1999/xhtml'&gt;\r\n                        &lt;head&gt;&lt;title&gt;Oca-Epak&lt;/title&gt;&lt;style&gt;\r\n
        \                   body {\r\n                        margin: 0;\r\n                        padding:
        0;\r\n                        background-color: #FAFAFA;\r\n                        font:
        [...]
