---
http_interactions:
- request:
    method: get
    uri: http://webservice.oca.com.ar/epak_tracking/Oep_TrackEPak.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"#Oca_e_Pak\"
        xmlns:s1=\"http://microsoft.com/wsdl/types/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s2=\"#Oca_e_Pak/AbstractTypes\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"#Oca_e_Pak\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Servicios Web Públicos de
        OCA Express Pak</wsdl:documentation>\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\"
        targetNamespace=\"#Oca_e_Pak\">\r\n      <s:import namespace=\"http://microsoft.com/wsdl/types/\"
        />\r\n      <s:element name=\"List_Envios\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"CUIT\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"FechaDesde\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"FechaHasta\" type=\"s:string\" />\r\n
        \         </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"List_EnviosResponse\">\r\n        <s:complexType>\r\n
        [...]
- request:
    method: post
    uri: http://webservice.oca.com.ar/epak_tracking/Oep_TrackEPak.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="#Oca_e_Pak"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="#Oca_e_Pak/AbstractTypes"><env:Body><tns:GetCentrosImposicionConServicios></tns:GetCentrosImposicionConServicios></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"#Oca_e_Pak/GetCentrosImposicionConServicios"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetCentrosImposicionConServiciosResponse
        xmlns=\"#Oca_e_Pak\"><GetCentrosImposicionConServiciosResult><CentrosDeImposicion
        xmlns=\"\"><Centro><IdCentroImposicion>2</IdCentroImposicion><Sigla>ADG</Sigla><Sucursal>LUIS
        GUILLON                  </Sucursal><Calle>BOULEVARD BS. AS.             </Calle><Numero>1459
        </Numero><Torre> </Torre><Piso>     </Piso><Depto>    </Depto><Localidad>LUIS
        GUILLON             </Localidad><CodigoPostal>1838    </CodigoPostal><Provincia>BUENOS
        AIRES                  </Provincia><Telefono>4367-5729      </Telefono><Latitud>-34.80982941</Latitud><Longitud>-58.44765759</Longitud><TipoAgencia>Sucursal
        OCA</TipoAgencia><HorarioAtencion>Lun a Vie 8:30 a 18 hs. </HorarioAtencion><SucursalOCA>ADG</SucursalOCA><Servicios><Servicio><IdTipoServicio>1</IdTipoServicio><ServicioDesc>Admisión
        de paquetes</ServicioDesc></Servicio><Servicio><IdTipoServicio>2</IdTipoServicio><ServicioDesc>Entrega
        de paquetes</ServicioDesc></Servicio><Servicio><IdTipoServicio>3</IdTipoServicio><ServicioDesc>Venta
        Estampillas</ServicioDesc></Servicio></Servicios></Centro><Centro><IdCentroImposicion>3</IdCentroImposicion><Sigla>AVE</Sigla><Sucursal>AVELLANEDA
        \                   </Sucursal><Calle>SARMIENTO                     </Calle><Numero>57
        \  </Numero><[...]
