---
http_interactions:
- request:
    method: get
    uri: http://webservice.oca.com.ar/epak_tracking/Oep_TrackEPak.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"#Oca_e_Pak\"
        xmlns:s1=\"http://microsoft.com/wsdl/types/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:s2=\"#Oca_e_Pak/AbstractTypes\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"#Oca_e_Pak\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Servicios Web Públicos de
        OCA Express Pak</wsdl:documentation>\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\"
        targetNamespace=\"#Oca_e_Pak\">\r\n      <s:import namespace=\"http://microsoft.com/wsdl/types/\"
        />\r\n      <s:element name=\"List_Envios\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"CUIT\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"FechaDesde\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"FechaHasta\" type=\"s:string\" />\r\n
        \         </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"List_EnviosResponse\">\r\n        <s:complexType>\r\n
        [...]
- request:
    method: post
    uri: http://webservice.oca.com.ar/epak_tracking/Oep_TrackEPak.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="#Oca_e_Pak"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="#Oca_e_Pak/AbstractTypes"><env:Body><tns:Tracking_Pieza_ConIdEstado><tns:NumeroEnvio>1217400000000082171</tns:NumeroEnvio></tns:Tracking_Pieza_ConIdEstado></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"#Oca_e_Pak/Tracking_Pieza_ConIdEstado"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><Tracking_Pieza_ConIdEstadoResponse
        xmlns="#Oca_e_Pak"><Tracking_Pieza_ConIdEstadoResult><xs:schema id="NewDataSet"
        xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"><xs:element
        name="NewDataSet" msdata:IsDataSet="true" msdata:Locale=""><xs:complexType><xs:choice
        minOccurs="0" maxOccurs="unbounded"><xs:element name="Table"><xs:complexType><xs:sequence><xs:element
        name="NumeroEnvio" type="xs:string" minOccurs="0" /><xs:element name="Descripcion_Motivo"
        type="xs:string" minOccurs="0" /><xs:element name="Desdcripcion_Estado" type="xs:string"
        minOccurs="0" /><xs:element name="Id_Estado" type="xs:int" minOccurs="0" /><xs:element
        name="SUC" type="xs:string" minOccurs="0" /><xs:element name="fecha" type="xs:dateTime"
        minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:choice></xs:complexType></xs:element></xs:schema><diffgr:diffgram
        xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1"><NewDataSet
        xmlns=""><Table diffgr:id="Table1" msdata:rowOrder="0"><NumeroEnvio>1217400000000082171</NumeroEnvio><Descripcion_Motivo>Sin
        Motivo</Descripcion_Motivo><Desdcripcion_Estado>En proceso de Admision - Suc:
        ZAPALA</Desdcripcion_Estado><Id_Estado>57</Id_Estado><SUC>Suc: ZAPALA</SUC><fecha>2016-12-13T00:00:00-03:00</fecha></Table><Table
        diffgr:id="Table2" msdata:rowOrder="1"><NumeroEnvio>1217400000000082171</NumeroEnvio><Descripcion_Motivo>Sin
        Motivo</Descripcion_Motivo><Desdcripcion_Estado>En Espera de Retiro por Sucursal
        - Suc: PLANTA VELEZ SARSFIELD</Desdcripcion_Estado><Id_Estado>23</Id_Estado><SUC>Suc:
        PLANTA VELEZ SARSFIELD</SUC><fecha>2017-01-13T00:00:00-03:00</fecha></Table><Table
        diffgr:id="Table3" msdata:rowOrder="2"><NumeroEnvio>1217400000000082171</NumeroEnvio><Descripcion_Motivo>Sin
        Motivo</Descripcion_Motivo><Desdcripcion_Estado>Entregado - Suc: PLANTA VELEZ
        SARSFIELD</Desdcripcion_Estado><Id_Estado>63</Id_Estado><SUC>Suc: PLANTA VELEZ
        SARSFIELD</SUC><fecha>2017-01-13T00:00:00-03:00</fecha></Table></NewDataSet></diffgr:diffgram></Tracking_Pieza_ConIdEstadoResult></Tracking_Pieza_ConIdEstadoResponse></soap:Body></soap:Envelope>'
  recorded_at: Mon, 23 Jan 2017 14:04:01 GMT
recorded_with: VCR 2.9.3
